*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100vh;
    width: 100%;
    background-color: #ffb5a7;
    font-family: Gilroy;

}

.main{
    height: 100vh;
    width: 100%;
    /* background-color: rgb(0, 110, 255); */
    display: flex;
    align-items: center;
    
}

.products-container{
    height: 100%;
    width: 80%;
    padding: 2vh;
}

#products{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1vw;
    flex-wrap: wrap;
}

.cart-container{
    height: 100%;
    width: 20%;
    background-color: #fcd5ce;
    color: #000;
    position: fixed;
    right: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.cart-container::-webkit-scrollbar{
    display: none;
}

.hidden{
    display: none;
}

.product-item{
    height: 43vh;
    width: 23.9%;
    background-color: #f8edeb;
    color: #000;
    border-radius: 5px;
    overflow: hidden;
    flex-shrink: 0;
}

.product-image{
    height: 30vh;
    width: 100%;
    object-fit: cover;
    margin-bottom: 1vh;
}

.product-item-text{
    margin: 1vh;
}

.add-to-cart-btn{
    padding: 2vh;
    margin: 1vh;
    font-family: Gilroy;
    border: none;
    border-radius: 5px;
    background-color: #f9dcc4;
    cursor: pointer;
    display: block;
}

.cart-container h1{
    padding: 1vh;
    border-bottom: 1px solid #ffb5a7;
    position: relative;
}

#cart{
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding: 2vh;

}

.cart-item{
    height: 10vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-item-img{
    height: 100%;
    width: 5vw;
    object-fit: cover;
}

#total-price-display{
    position: static;
    margin: 2vh;
    margin-bottom: -7vh;
    right: 2vh;
    text-align: right;
}

#checkout-btn{
    position: static;
    bottom: 4vh;
    margin: 2vh;
    left: 2vh;
    text-align: right;
    padding: 2vh 2vw;
    font-family: Gilroy;
    border: none;
    border-radius: 5px;
    background-color: #ffb5a7;
    cursor: pointer;
}
