*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100vh;
    width: 100%;
    background-color: #111;
    color: #fff;
    font-family: Gilroy;

    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    height: max-content;
    width: 30vw;
    background-color: #333;
    border-radius: 10px;
    padding: 2vh;
    position: relative;
}

#products-list{
    height: max-content;
    background-color: red;
}

.product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vh;
    background-color: #111;
    border-radius: 5px;
    margin-bottom: 1vh;
    margin-top: 1vh;
}

#product-button{
    padding: 1vh;
    border: none;
    border-radius: 2px;
    background-color: rgb(51, 141, 196);
    cursor: pointer;
    font-family: Gilroy;
    color: #000;
}

#cart-items{
    margin-top: 1vh;
}

#cart-total{
    position: absolute;
    right: 2vh;
    bottom: 6vh;
}

#checkout-btn{
    position: absolute;
    right: 2vh;
    bottom: 1vh;
    padding: 1vh;
    border: none;
    border-radius: 2px;
    background-color: rgb(51, 63, 196);
    cursor: pointer;
    font-family: Gilroy;
    color: #fff;
}

.hidden{
    display: none;
}